.nav {
    background-color: #9e8144;
    width: 100%;
    text-align: center;
}

ol {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    list-style-type: none;
    

/* Kan bytte til flex direction:row for bilder ved siden av hverandre, column for nedover*/
}

.Animal-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: rgb(216, 255, 45);
    font-style: italic;
}

body {
    background-color: #d4b78a;
    margin: 0;
}


a {
    color:rgb(0, 0, 0);
    background-color: rgb(109, 79, 40);
    text-decoration: none;
    border-radius: 5px;
    padding: 4px;
    border: 0px solid rgb(42, 44, 165);
    width: 120px;
}

a:hover{
    background-color: rgba(222, 184, 135, 0.507);
}

img {
    border-radius: 250px;
    width: 600px;
}

li {
    font-style: italic;
    color: rgb(0, 0, 0);
    font-size: x-large;
    font-weight:bolder
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size:larger;
    color:rgb(41, 44, 12);
}


#blåhval {
    color: blue;
}

#elefant {
    color: #9e8144;
}

#flodhest {
    color: lightcoral;
}






/*
#blåhval {
    align-self: flex-start;
}

#elefant {
    align-self: flex-end;
}
*/